<!DOCTYPE html>
<html lang="en">

    <%-include('../templates/head')%>
    <link rel="stylesheet" href="/public/css/main.Products.css">
<body class="body">
    <%-include('../templates/nav.ejs')%>
    <h1 id="asd">Hols soy INDEX</h1>
    <main class="main-all-products">
    <% data.forEach( x => {%>
        <li class="card box" >
            <img src="/public/uploads/<%= x.thumbnail %>" class="card-img-top" alt="<%= x.thumbnail %>">
            <div class="card-body">
              <h5 class="card-title"><%= x.title %></h5>
              <p class="card-text"><%= x.description %></p>
              <b>$<%= x.price%></b>
              <p>stock:<%= x.stock%></p>
              <p>publicado el dia: <%= x.timestamp %></p>   
              <input type="submit" value="add to cart" class="btn btn-primary" id="submit">
            </div>
          </li>
          <% }) %>
      </main>
</body>
</html>