<!DOCTYPE html>
<html lang="en">

    <%-include('./templates/head')%>

<body>
    <%-include('./templates/nav.ejs')%>
    <h1>Hols soy INDEX</h1>
    <% data.forEach( x => {%>
        <li class="card" style="width: 18rem;">
            <img src="uploads/<%= x.thumbnail %>" class="card-img-top" alt="<%= x.thumbnail %>">
            <div class="card-body">
              <h5 class="card-title"><%= x.title %></h5>
              <p class="card-text"><%= x.description %></p>
              <b>$<%= x.price%></b>
              <p>stock:<%= x.stock%></p>
              <p>publicado el dia: <%= x.timestamp %></p>   
              <input type="submit" value="add to cart" class="btn btn-primary">
            </div>
          </li>
    <% }) %>
</body>
</html>