<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/public/css/cart.css">
<body class="body">
    <%-include('../templates/nav.ejs') %>

    <h1>Carrito de compras</h1>
    <main class="main">
        <div class="containerBox">
        
            <% data.forEach( x => { %>
            <li class="boxx" >
                <img src="/public/uploads/<%= x.thumbnail %>" class="card__img" alt="<%= x.thumbnail %>">
    
                <div class="li__body">
                    <p class="card__title"><%= x.title %></p>
                    <p>$<%= x.price%></p>
                    <p>stock:<%= x.stock%></p>
                    <input type="submit" value="Comprar" class="btn btn-success">
                </div>
            </li>
            <% }) %>
    
        </div>
    </main>
    
    
</body>
</html>