<!DOCTYPE html>
<html lang="en">
    <%- include('../templates/head.ejs') %>
    <link rel="stylesheet" href="/public/css/cart.css">
<body class="body">
    <%-include('../templates/nav.ejs') %>

    <h1>Carrito de compras</h1>

    <main class="main">
            <% data.forEach( x => { %>
            <li class="boxx">
                <img src="/public/uploads/<%= x.thumbnail %>" class="card__img" alt="<%= x.thumbnail %>">
    
                <div class="li__body">
                    <div class="p">
                        <h5 class="card__title"><%= x.title %></h5>
                    </div>
                    <div>
                        <b class="p">$<%= x.price%></b>
                    </div>
                    <div class="p">
                        <p>stock:<%= x.stock%></p>
                    </div>
                    <input type="submit" value="Comprar" class="btn btn-success">
                </div>
            </li>
            <% }) %>
    </main>
    
    
</body>
</html>